<div class="main">
	<div ng-if="!agreed" class="slide spoiler">
		<h1>We gonna show you heavy spoilers.</h1>
		<h1>Do you want to continue?</h1>
		<button class="btn btn-large btn-primary" ng-click="continue()">Yes</button>
	</div>
	<div ng-if="ready" class="slide spoiler">
		<h1><span>{{spoilers[index].spoiler}}</span></h1>
		<h1><a ng-href="http://www.imdb.com/title/{{spoilers[index].imdb}}" target="_blank">{{movie.Title}}</a>, {{movie.Year}}</h1>
		<button class="btn btn-large btn-primary" ng-click="generateSpoiler()">Next!</button>
	</div>
</div>